Flask==1.0.2
Flask-Bcrypt==0.7.1
Flask-HTTPAuth==3.2.1
Flask-Login==0.3.2
Flask-Mail==0.9.1
Flask-Migrate==2.0.0
Flask-PageDown==0.2.1
Flask-Script==2.0.5
Flask-SQLAlchemy==2.4.0
Flask-Uploads==0.2.1
Flask-WTF==0.12
jsonify==0.5
Pillow==7.2.0
requests==2.20.0
wave==0.0.2
pytest==5.4.3
lxml==4.5.2
pyglet==1.5.7